* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

a,
button {
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    max-width: 150px;
    color: black;
    padding: 5px 0;
    font-weight: 300;
    max-width: 150px;
    border-bottom: 2px solid #ffffff;

    &:hover {
        border-bottom: 2px solid #FE4805;
    }

    margin:10px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    z-index: 5;

    .menu-item:nth-of-type(3) {
        img {
            width: 100%;
        }

        width: 30px;
        display: flex;
        align-items: center;
        position: relative;

        span {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: green;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            right: -11px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 10px;
        }
    }
}

.filter-options {
    margin: 10px auto;

    h3 {
        text-align: center;
    }

    .sliders {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h4 {
            text-align: center;

            span {
                font-weight: 300;
            }
        }

        margin: 18px auto;
        max-width: 300px;

        .slidecontainer {
            margin: 0 10px;
            display: flex;
            flex-direction: column;
        }
    }
}



.sort-options {
    h3 {
        text-align: center;
        margin: 10px;
    }

    .sort-menu {
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            text-wrap: nowrap;
            margin: 0 10px;
        }
    }
}

.dropdown {
    a {
        text-decoration: none;
        color: black;
    }

    display:flex;
    justify-content: center;
    position: relative;
    padding: 5px 0;
    font-weight: 300;
    margin: 10px;
    width: 150px;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.options {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 20px;
    display: flex;
    justify-content: end;
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.50);

}

select {
    height: 50px;
    border: none;

    &:focus {
        outline: none;
    }

    background-color: aqua;
    border-radius: 3px;
    padding:10px;
}

h2 {
    text-align: center;
    margin: 20px 0;
}



.product-card {
    max-width: 200px;
    overflow: hidden;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(165, 153, 153);
    border-radius: 4px;

    img {
        width: 100%;
    }

    img[alt="star"] {
        width: 18px;
        margin: 0 5px;
    }

    h4:nth-of-type(1) {
        display: inline;

        span {
            font-weight: 400;
        }
    }

    img[alt="start"] {
        width: 12px;
    }

    .card-info {
        padding: 10px;
    }

    h5 {
        margin: 8px 0;
        font-size: 12px;
        font-weight: 400;
    }

    h4 {
        font-size: 14px;
        margin-bottom: 5px;

        span {
            font-weight: 400;
        }
    }

    button {
        color: white;
        background-color: black;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        margin: 5px 0;
    }
}


.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.number-group {
    span {
        padding: 0 6px;
        border-right: 1px solid rgb(137, 118, 118);
        margin: 0;
        cursor: pointer;
    }

    span:nth-child(3) {
        border: none;
    }

    span:nth-child(2) {
        cursor: default;
    }

    align-self: flex-end;
    background-color: rgb(232, 218, 221);
    width: fit-content;
    border-radius: 2px;
    margin:10px 0;
}

@media (min-width:600px) {
    .sort-options {
        flex-direction: row;
    }
}